form {
    display: $form-display;
    @include margin-shorthand-with-screens-support((
        top: $form-margin-top,
        bottom: $form-margin-bottom,
        left: $form-margin-left,
        right: $form-margin-right
    ), $form-margin-for-screens);
    @include outline-shorthand((
        width: $form-outline-width,
        style: $form-outline-style,
        color: $form-outline-color,
        make-shorthand: true
    ));
    @include border-shorthand(map-merge((
        border: (
            width: $form-border-width,
            style: $form-border-style,
            color: $form-border-color,
            make-shorthand: true
        )
    ), $form-borders));
    @include padding-shorthand((
        top: $form-padding-top,
        bottom: $form-padding-bottom,
        left: $form-padding-left,
        right: $form-padding-right
    ));
    @include form-extra-style();
}
