$form-display: block;

//Margins
$form-margin-top: $elements-margin-top !default;
$form-margin-bottom: $elements-margin-bottom !default;
$form-margin-left: $elements-margin-left !default;
$form-margin-right: $elements-margin-right !default;
$form-margin-for-screens: $elements-margin-for-screens !default;

//Outline
$form-outline-width: 0 !default;
$form-outline-style: null !default;
$form-outline-color: null !default;

//Borders
$form-border-width: 0 !default;
$form-border-style: null !default;
$form-border-color: null !default;
$form-borders: () !default;

//Paddings
$form-padding-top: 0 !default;
$form-padding-bottom: 0 !default;
$form-padding-left: 0 !default;
$form-padding-right: 0 !default;

//Extra style
@mixin form-extra-style() {}